<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Happa | Giant Swarm</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" sizes="192x192" href="/images/app_icon_192.png" />
    <link rel="icon" sizes="128x128" href="/images/app_icon_128.png" />
    <link
      rel="apple-touch-icon"
      sizes="128x128"
      href="/images/app_icon_128.png"
    />
    <style>
      html {
        background-color: #152531;
      }
    </style>
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:300,400,700,300italic|Inconsolata:400,700|Roboto+Condensed:400,700"
      type="text/css"
    />
    <script src="https://use.fortawesome.com/b5c7b73e.js"></script>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <script>
      var config = {
        apiEndpoint: '<%= apiEndpoint %>',
        mapiEndpoint: '<%= mapiEndpoint %>',
        audience: '<%= audience %>',
        mapiAudience: '<%= mapiAudience %>',
        passageEndpoint: '<%= passageEndpoint %>',
        // environment is set to:
        // 'dev' while developing
        // 'kubernetes' when deployed in production
        // 'docker-container' when the final build container is run manually
        // the behaviour is configured by the ENVIRONMENT variable,
        // see scripts/start.sh
        enableRealUserMonitoring: true,
        environment: 'development',
        ingressBaseDomain: 'k8s.sample.io',
        awsCapabilitiesJSON: '{"m3.large":{"description":"M3 General Purpose Large","memory_size_gb":7.5,"cpu_cores":2,"storage_size_gb":32},"m3.xlarge":{"description":"M3 General Purpose Extra Large","memory_size_gb":15,"cpu_cores":4,"storage_size_gb":80},"m3.2xlarge":{"description":"M3 General Purpose Double Extra Large","memory_size_gb":30,"cpu_cores":8,"storage_size_gb":160}, "m4.xlarge":{"cpu_cores":4,"description":"M4 General Purpose Extra Large","memory_size_gb":16,"storage_size_gb":0}}',
        azureCapabilitiesJSON: '{"Standard_A2_v2":{"additionalProperties":{},"description":"This is some description","maxDataDiskCount":4,"memoryInMb":4294.967296,"name":"Standard_A2_v2","numberOfCores":2,"osDiskSizeInMb":1047552,"resourceDiskSizeInMb":21474.83648},"Standard_A4_v2":{"additionalProperties":{},"description":"Here is a longer description that might be too long for the field","maxDataDiskCount":8,"memoryInMb":8589.934592,"name":"Standard_A4_v2","numberOfCores":4,"osDiskSizeInMb":1047552,"resourceDiskSizeInMb":42949.67296},"Standard_A8_v2":{"additionalProperties":{},"description":"Another VM size description text","maxDataDiskCount":16,"memoryInMb":17179.869184,"name":"Standard_A8_v2","numberOfCores":8,"osDiskSizeInMb":1047552,"resourceDiskSizeInMb":85899.34592}, "Standard_D2s_v3":{"additionalProperties":{},"description":"Dsv3-series, general purpose, 160-190 ACU, premium storage supported","maxDataDiskCount":4,"memoryInMb":8589.935,"name":"Standard_D2s_v3","numberOfCores":2,"osDiskSizeInMb":1047552,"resourceDiskSizeInMb":17179.87}}',
        happaVersion: 'development',
        defaultRequestTimeoutSeconds: 10,
        mapiAuthRedirectURL: window.location.origin,
      };
      window.config = config;

      window.featureFlags = {
        FEATURE_MAPI_AUTH: <%= FEATURE_MAPI_AUTH %>,
      };
    </script>

    <style>
      .loading footer {
        display: none;
      }
    </style>
  </head>
  <body class="loading">
    <!--[if lt IE 8]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <div class="container-fluid">
        <div class="alert alert-warning">
          Dear user, it seems like JavaScript is blocked through your browser or
          connection. Please make sure you can execute JavaScript in order to
          make use of this application.
        </div>
      </div>
    </noscript>

    <div id="app"></div>
  </body>
</html>
